<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信相关配置信息</title>
</head>
<body>
<div class="main_content_hb">首页>微信管理系统>系统设置>微信设置</div>
<div class="main_content_mb"></div>
<div class="main_content_mb">
    <h2 class="main_content_title">微信设置</h2>
    <div class="img_pick_panel">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-md-offset-1 col-sm-12 col-md-12 col-lg-10">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <br>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form id="smart-form-register" action="/MeeZao/Conf/WeiXin/Manage.html" enctype="multipart/form-data" method="post" class="smart-form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入appid</label>
                                    <input type="text" name="appid" class="form-control" placeholder="请输入appid" value="wxae35a300359151c8">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入appsecret</label>
                                    <input type="text" name="appsecret" class="form-control" placeholder="请输入appsecret" value="3a39392527cdd12018ccb0d98cdd404c">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入mch_id</label>
                                    <input type="text" name="mch_id" class="form-control" placeholder="请输入mch_id" value="1291331701">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入paykey</label>
                                    <input type="text" name="paykey" class="form-control" placeholder="请输入paykey" value="3a39392527cdd12018ccb0d98cdd404c">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入token</label>
                                    <input type="text" name="token" class="form-control" placeholder="请输入token" value="weixin">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">请输入微信原始ID</label>
                                    <input type="text" name="wx_id" class="form-control" placeholder="请输入微信原始ID" value="gh_e9aa3f7ded1c">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">转发抬头</label>
                                    <input type="text" name="title" class="form-control" placeholder="转发抬头" value="蜜枣内测-公众平台">
                                </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" style="width:100%">
                                        保存配置
                                    </button>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
    </div>
</div>
</body>
</html>